doctype html
html
	head
		title= title

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		block head

		link(rel="stylesheet",href="/styles/normalize.css")
		link(rel="stylesheet",href="/vendor/foundation/foundation.css")
		link(rel="stylesheet",href="/styles/flick/jquery-ui.css")
		link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css")
		link(rel="stylesheet",href="/styles/app.css")

		block css

	body
		#container

			#header
				nav.top-bar(data-topbar)
					ul.title-area
						li.name: h1: a(href="/#!/") Dashboard
					section.top-bar-section
						ul.left
							li: a(href="#!/") Calendar View
							li: a(href="#!/device") Device

			#main
				block mainContent
			//- Content
			



		//- Javascript
		script(type="text/javascript",src="/js/socket.io.js")
		script(type="text/javascript",src="/js/sails.io.js")
		script(type="text/javascript",src="/vendor/modernizr/modernizr.js")
		script(type="text/javascript",src="/vendor/jquery/jquery.js")
		script(type="text/javascript",src="/vendor/jquery/jquery-ui.js")
		script(type="text/javascript",src="/vendor/foundation/foundation.min.js")
		script(type="text/javascript",src="/vendor/underscore/underscore.js")
		script(type="text/javascript",src="/vendor/angular/stable/angular.js")
		script(type="text/javascript",src="/vendor/angular/stable/angular-route.js")
		script(type="text/javascript",src="/vendor/angular/stable/angular-resource.js")

		script(type="text/javascript",src="/vendor/ckeditor/ckeditor.js")
		script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js")

		script(type="text/javascript",src="/js/app.js")

		block js