extends ../layout

block mainContent
	h1 Calendar View
	#calendar(ng-controller="CalendarCtrl")


	div(style="display:none",ng-non-bindable)
		.record-modal.reveal-modal(data-reveal,ng-controller="RecordCtrl")
			a.close-reveal-modal(href="javascript:$('.record-modal').foundation('reveal','close');") &#215;
			.row: .columns.large-12: h2 Record

			.row
				.columns.large-3.medium-6: label
					| Book
					select#book(ng-model="record.book",ng-options="book.id as book.label for book in bookArr")
				.columns.large-3.medium-6: label
					| Chapter
					select#chapter(ng-model="record.chapter",ng-options="c.value as c.label for c in validChapters")
				.columns.large-3.medium-6: label
					| Title
					input#title(ng-model="record.title",type="text")
				.columns.large-3.medium-6: label
					| Speaker
					input#speaker(ng-model="record.speaker",type="text")
			.row
				.columns.large-3.medium-4: label
					| Date
					input#date(ng-model="record.date",readonly,type="date")
				.columns.large-9.medium-8: label
					| Audio Url
					input#audioUrl(ng-model="record.audio",type="url")
			.row
				.columns.large-12: label
					| Content
					textarea#content(ng-model="record.content",ns-editor-html)
			.row
				.columns.large-12: div.clearfix
					ul.button-group.right
						li: a.button.alert Reset
						li: a.button(ng-click="save()") Save
					

