#main{margin:0 auto;max-width:1200px;}







/* calendar */
.fc-today{background:#ff6600;}
.fc-day>div{min-height:80px !important;}
.fc-event{padding: 5px;}



@media only screen and (min-width: 40.063em) {
.reveal-modal{top:0;}